/*
--- 01 Typography System
-Font size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
-Font Weight
-Line Height
Default : 1
-Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;

  background-image: url(../img/images/background.png);
  /* overflow: hidden; */
}
/***********************************************/
/* general components */
/***********************************************/
.container {
  width: 120rem;
}
.grid {
  display: grid;
}
/***********************************************/
/* Banker components */
/***********************************************/
.section-banker {
  margin-top: -4rem;
}
.dice-content {
  justify-self: center;
  margin-bottom: -10rem;
  position: relative;
}
.dice-cover {
  width: 13rem;
  position: absolute;
  top: 3rem;
}
.dice-plate {
  width: 13rem;
  position: absolute;
  z-index: -999;
  top: 3rem;
}
.dice {
  position: absolute;
  width: 2.5rem;
}
.dice-1 {
  top: 10rem;
  left: 5rem;
}
.dice-2 {
  top: 7.8rem;
  left: 3.5rem;
}
.dice-3 {
  top: 8rem;
  left: 6.5rem;
}

.result-dice {
  position: absolute;
  top: 5rem;
  left: 35rem;
}
.result-dice .img-result {
  width: 5rem;
}
.banker-grid {
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.banker {
  display: grid;
  align-items: center;
  justify-content: center;
}
.banker-lady-img {
  width: 12rem;
  margin-bottom: -3rem;
}

.timer {
  color: #fff;
  text-align: center;
  margin-left: 15rem;
  padding-top: 5rem;
  border-bottom: 2px solid #fff;
}
.count-title {
  font-size: 2.5rem;
}
.count-timer {
  font-size: 3.5rem;
}
/***********************************************/
/* Playground components */
/***********************************************/
.playground-grid {
  grid-template-columns: 1fr 3fr 1fr;
}

/* Left-table */
.left-table {
  display: grid;
  grid-template-columns: 1fr;
}

/* Left Table First */
.left-table-first--rule,
.left-table-second--rule {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.right-table-first--rule {
  padding-top: 2rem;
}
.left-table-first {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.left-table-2img {
  border: 1px solid #fff;
  margin: 0.5rem;
}
.left-table-2img-link {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.left-table-2img-link:link,
.left-table-2img-link:visited {
  text-decoration: none;
  cursor: pointer;
}
.left-table-2img-link:active .left-table-2img--img {
  transform: scale(0.9);
}
.left-table-2img--img {
  width: 70%;
  margin: 0 auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
/* Left Table Second */
.left-table-second {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.left-table-puuimg {
  border: 1px solid #fff;
}
/* Main Table */
.table-image-container {
  background-image: url(../img/images/table.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.main-table-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.main-table-contentall {
  width: 60%;
  margin: 0 auto;
  padding: 8rem 0 8rem 4rem;
}
.main-table-link:link,
.main-table-link:visited {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3rem;
}
.main-table-link:active .main-table-dice-img {
  transform: scale(0.9);
}
.main-table-dice-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 60%;
}
.play-rule-maintable {
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid #fff;
  font-size: 0.8rem;
}

/* Right Table */
/* Right Table First */
.right-table-first--rule {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.right-table-second--rule {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.rigth-table-pullallimg-link:link,
.rigth-table-pullallimg-link:visited {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 2rem;
  border: 1px solid #fff;
  padding: 1rem;
}
.rigth-table-pullallimg-link:active .right-table-3img--img {
  transform: scale(0.9);
}
.right-table-3img--img {
  width: 100%;
}
.right-table-second {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 2rem;
}
.right-table-puuimg {
  border: 1px solid #fff;
}
.right-table-3img-link:link,
.right-table-3img-link:visited {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.right-table-3img-link:active .right-table-pullonly--img {
  transform: scale(0.9);
}
.right-table-pullonly--img {
  width: 70%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
/***********************************************/
/* Player Information components */
/***********************************************/
.section-player {
  border-top: 1px solid #fff;
  left: 0;
  bottom: 0;
}
.player-info-container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-left: 30rem;
}
.player-container {
  display: flex;
  flex-direction: column;
}
.user-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.user-name {
  color: #fff;
  font-size: 1.6rem;
}
.unit-imgs {
  display: flex;
  gap: 1.5rem;
}
.unit-img-link:link,
.unit-img-link:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.unit-img-link:active .unit-img {
  transform: scale(0.9);
}
.unit-img {
  width: 6rem;
}
.total-unit-container {
  color: #fff;
  font-size: 5rem;
  margin-left: 2rem;
}
.hidden {
  opacity: 0;
}
